ipykernel
numpy
ultralytics
fastapi[all]
faiss-cpu
from_root
Pillow
opencv-python
transformers==4.50.0
open_clip_torch
pydantic
pydantic-settings
aiofiles
torch>=2.0.0
torchvision>=0.15.0
tensorboard
pyyaml